####################################
# Build / Generated
####################################
**/target/
**/build/
**/out/
**/*.class
**/*.jar
**/*.war

####################################
# IntelliJ IDEA (IMPORTANT)
####################################
**/.idea/
**/*.iml
**/*.ipr
**/*.iws

####################################
# VS Code
####################################
**/.vscode/

####################################
# Logs
####################################
**/*.log
**/logs/

####################################
# OS
####################################
**/.DS_Store
**/Thumbs.db

####################################
# Spring Boot local config
####################################
**/application.properties
**/application-local.yml
**/application-dev.yml
**/.env

####################################
# Docker
####################################
**/docker-compose.override.yml
