spring.application.name= Order Service
server.port=8083

# Database configuration
spring.datasource.url=jdbc:postgresql://localhost:5432/mydb?rewriteBatchedStatements=true&currentSchema=demo
spring.datasource.username=username
spring.datasource.password=password
spring.jpa.properties.hibernate.default_schema=demo
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA / Hibernate
spring.jpa.hibernate.ddl-auto=none
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.jdbc.batch_size=1000
spring.jpa.properties.hibernate.batch_versioned_data=true

# Liquibase configuration
spring.liquibase.enabled=true
spring.liquibase.change-log=classpath:changelog/changelog-master.xml

#Internal Api
internal.api = http://localhost:8081/user